html,.container-lg,body{
    background-color: FloralWhite;

}
a{
color: Gainsboro;
text-align: center;
text-decoration: none;
display: block;
font-family:Lucida Console;
}

#x1{
    width: auto;
     height: 900px;
     display: block;
background-image: url("../content/px6.jpg");
background-repeat: no-repeat;
Background-size:cover;
background-position:center;




}
#pri{
    padding-top : 150px;

}
#pri>h1,.name{
   
font-size: 500%;
text-align: center;
color: white;
text-shadow: wheat;
font-family: "poppins-medium", sans-serif;
line-height: 1.071;
text-shadow: 0 0 20px rgb(0 0 0 / 50%);
margin-inline-start: 0px;
margin-inline-end: 0px;
font-weight: bold;

}
#pri>h5{
   
    font-size: 250%;
    text-align: center;
    color:  #00768C;
    font-family: "poppins-bold", sans-serif;
    line-height: 1.565;
    text-shadow: 0 0 6px rgb(0 0 0 / 20%);
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

 
    }
    
    .intro-position>span{
        font-family: "lora-regular", serif;
        font-size: 1.5rem;
        line-height: 2.4rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        color: #FFFFFF;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);

    }


    #pri .intro-position span::after {
        content: "|";
        text-align: center;
        display: inline-block;
        padding: 0 8px 0 14px;
        color: rgba(255, 255, 255, 0.3);
    }
    #pri .intro-position span:first-child::before {
        content: "|";
        text-align: center;
        display: inline-block;
        padding: 0 14px 0 8px;
        color: rgba(255, 255, 255, 0.3);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
      
      }

      li {
       float: left;
       text-align: center;
      }
      
      li a {
 
        color: Gainsboro;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
        font-family:Lucida Console;
        
      }

#teste{
padding-top: 15px;
width: 600px;
height: 50px;
display: block;

padding-left: 50px;

      }
 /* a:hover{
    color: black;
    background-color: lightsteelblue;
   

} */
.active{
    color: black;
    background-color: white;
   

}
#teste{

position: fixed;

}

#x1{
height: 900px;
display: block;
background-color: burlywood;
}
#x2{
    height: 800px;
    display: block;  

}
#x3{
    height: 900px;
    display: block; 
  background-color: darkgreen;
}
#x4{
    height: 900px;
display: block;
background-color: darkslateblue;
}

#footer{
    height: 900px;
display: block;
background-color: yellow;
}


#tcl{

 
    margin-top: 100px;
    height: 600px;
    padding-top:110px;
display: block;
border-right: gray 2px solid;
background-color: FloralWhite;


}
#tcr{
    padding-left:  50px;
    margin-top: 100px;
   padding-top: 20px;

    height:600px;
display: block;
background-color: FloralWhite;

}
#img-user{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}
p{
margin-top: 20px;


}